# maven ignore
target/
bin/
*.jar
*.war
*.zip
*.tar
*.tar.gz

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
/ostore-mq/.project
/ostore-mq/.settings
/ostore-mq/target
/ostore-mq/.classpath
